/node_modules
/public/hot
/public/storage
/public/material-dashboard-pro/node_modules
/public/material-dashboard-pro/package-lock.json
/storage/*.key
/vendor
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
